@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "normalize";

$primary-color: #13274c;
$secondary-color: #e24848;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

body {
  font-family: "Montserrat", sans-serif;
}

.container-wide {
  max-width: 1800px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.container {
  max-width: 1180px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  background-color: rgba($primary-color, 0.9);
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.logo {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  width: 183px;
  height: 60px;
}

#KZN_LOGO_NEWNEW {
  width: 100%;
  height: 100%;
}

.nav-holder {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.navigation {
  ul {
    display: flex;
  }

  li {
    margin-right: 5em;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    font-weight: $regular;
    text-transform: uppercase;
    color: #f7f7f7;
  }
}

span.triangle {
  color: red;
}

.nav-socials {
  display: flex;
  align-items: center;
}

.nav-socials__link {
  color: #fff;
  font-size: 22px;
  margin-left: 18px;
}

// HERO
.hero {
  height: 1715px;
  background-image: url("../assets/bg-hero.png");
  background-size: cover;
}

.hero__inner-bg {
  height: 100%;
  background-color: rgba($primary-color, 0.9);
  padding: 280px 0 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../assets/graphic_hero_bcg_transparent.svg");
  background-position: 600px 800px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__headline {
  width: 100%;
  height: 555px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.hero__headline-img {
  max-width: 555px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.hero__headline-title {
  z-index: 2;
}

.hero__radar--left {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 140px;
  height: 140px;
}

.hero__radar--right {
  position: absolute;
  right: -110px;
  top: -80px;
}

.hero__headline-title h1 {
  font-weight: $regular;
  font-size: 70px;
  line-height: 90px;
  letter-spacing: 10px;
  text-align: center;
  color: #f7f7f7;
}

.hero__about-subtitle {
  text-align: center;
  font-size: 30px;
  font-weight: $regular;
  letter-spacing: 3px;
  line-height: 42px;
  color: #fff;
}

.hero__about-title {
  text-align: center;
  font-size: 34px;
  font-weight: $bold;
  letter-spacing: 3px;
  line-height: 42px;
  color: #fff;
}

.hero__about p {
  margin-top: 20px;
  text-align: center;
  line-height: 28px;
  color: #fff;
  font-weight: $light;
}
